@layer base {
    
    @font-face {
        font-family: 'Laxr';
        src: url('/fonts/Laxr/Bold.otf') format('opentype');
        font-weight: bold;
    }
    
    @font-face {
        font-family: 'Cairo';
        src: url('/fonts/Cairo/Bold.ttf') format('truetype');
        font-weight: normal;
    }

}