@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        
        @apply text-white font-cairo bg-black-00;

        font-size: 16px;

    }

    h1, h2 {
        
        @apply font-laxr;
        
    }

    h2 {

        @apply font-bold;

    }

    section {

        height: clamp(80vh, 150vw, 125vh);

    }

    img {

        content-visibility: auto;
        
    }

}

@layer components {

    .paragraph {

        width: 25em;
        display: flex;
        gap: 1.5em;
        padding-inline: 1.5em;
        font-size: clamp(var(--font-size-min, 0.8em), 3.5vmin, var(--font-size-max, 4vmin));

        &:before {

            @apply inline-block bg-gradient-to-b from-turquoise-75 to-black-00;

            content: "";
            width: 1em;
            border-radius: 10em;
            margin-top: 0.5em;

        }

        p {

            @apply font-light text-justify;
            line-height: 2em; 
            font-size: 0.9em;      

        }

    }

}

@layer utilities {

    /* Composition */

    .flex-center {

        @apply flex justify-center items-center;

    }

    .z-stack {

        @apply flex items-center flex-col relative;

        & > * + * {

            @apply flex-center absolute;

            top: 50%;
            transform: translateY(-50%)

        }

    }

}

aside {

    flex-grow: 1;
    position: relative;
    flex-direction: column;

    nav + div > div {

        height: 100vh;
        width: 100%;
        padding-top: 1em;
        position: relative;

        svg {

            position: absolute;
            bottom: 0;

        }

    }

}

nav {
    width: 100%;
}

@keyframes appear {

    from {
        opacity: 0.3;
        transform: translateY(20px);
    }

}

@keyframes shinning {

    from {
        filter: drop-shadow(0px 0px 10px #00FFB3);
    }

}

@keyframes breathing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
        filter: drop-shadow(0px 0px 5px #00FFB3);
    }
}

@keyframes paralax-image {

    to {

        transform: translateX(-4em) translateY(-3em);

    }

}

@keyframes paralax-title {

    to {

        transform: translateY(1em);
        opacity: 0;

    }

}

section#hero {

    padding-top: min(20vw, 15vh);
    gap: 3.5em;
    
    #hero__banner {
        font-size: clamp(1rem, 5vw, 3.5vh);
        margin-right: -3em;
    }

    #hero__background {

        width: 11.5em;
        height: 12.5em;
        position: relative;
        margin-left: -1.5em;

        & > div:nth-child(1) {
            position: absolute;
            left: -0.45em;
            bottom: -0.1em;
            font-size: 8em;
            [data-svg] {
                position: relative;
                width: 1em;
                height: 1em;
                svg {
                    position: absolute;
                    left: 0.05em;
                    top: -0.1em;
                    width: 1em;
                }
            }
            animation: appear 1.5s ease-out, shinning 1s ease-in, breathing 5s ease-in-out infinite 1.5s;
        }

        & > div:nth-child(2) {
            position: absolute;
            right: -2.75em;
            bottom: -2.2em;
            [data-svg] {
                position: relative;
                width: 6em;
                height: 6em;
                svg {
                    position: absolute;
                    left: -3.5em;
                    top: -3.5em;
                }
            }
            animation: appear 1.5s ease-out, shinning 1s ease-in, breathing 5s ease-in-out infinite 2s;
        }

        & > div:nth-child(3) {
            position: absolute;
            top: 0em;
            left: 7em;
            [data-svg] {
                position: relative;
                width: 2.5em;
                height: 2.5em;
                svg {
                    position: absolute;
                    left: -3em;
                    top: -3.2em;
                }
            }
            animation: appear 1.5s ease-out, shinning 1s ease-in, breathing 5s ease-in-out infinite 2.45s;
        }

        .plane {

            opacity: 0.85;
            width: 10em;
            height: 13em;
            background: rgba(221, 221, 221, 0.55);
            position: absolute;
            border-radius: 0.2em;
            backdrop-filter: blur(10px);
            margin-top: -1em;

            img {
                height: 100%;
                padding: 0.2em;
                opacity: 0.6;
            }

            animation: appear 2s ease-out;
            animation-delay: 0.1s;

        }

    }
    
    .hero__subtitle {
        font-size: 0.55em;
        .hero__decore {

            font-size: 0.40em;
            width: 25em;

            span {

                @apply bg-gradient-to-t from-turquoise-75 to-green-40 inline-block rotate-45;
                width: 0.75em;
                height: 6.5em;
                border-radius: 10em;

            }

        }
    }

    ul > li:nth-child(2) {
        width: 50vw;
        height: 65vmin;
    }
    
    #hero__image {
        width: 10em !important;
        transform: translateX(-4em);
    }

    #hero__title {
        font-size: 2em;
        flex-grow: 1;
        opacity: 0.99;
        z-index: 5;
        width: min-content;
    }

    .paragraph {

        --font-size-max: 1em;
        --font-size-min: 5px;
        width: clamp(25em, 60vw, 32em);

    }

}

@supports (animation-timeline: view(100px)) {
    section#hero {
        #hero__image {
            animation: paralax-image 3s ease-in forwards;
            animation-timeline: view(100px);
        }

        #hero__title {
            animation: paralax-title 10s ease-in forwards;
            animation-timeline: view(200px);
        }

    }
}

section.chapter {

    @apply flex-center flex-col;

    .chapter__banner {

        @apply flex justify-between items-center;

        font-size: 3vw;
        width: 75%;

        &[data-state="reversed"] {
            @apply flex-row-reverse;
        }

        &:not(:has(.chapter__symbol)) {
            @apply justify-center;
        }

        .chapter__thumbnail {

            @apply relative;

            font-size: 0.35em;

            img {

                width: 30em !important;
                
            }

            h1, h2 {
                @apply absolute w-max;

                font-size: 5em;
                top: 50%;
                left: 50%;
                transform: translateX(-1.5em) translateY(calc(-50% - 2em));
            }

            h1 {
                z-index: -1;
                margin-left: -0.5em;                
            }

            h2 {
                margin-top: 2em;                
            }

            &:has(h1):not(:has(h2)) {

                h1 {
                    margin-left: 0.5em;                
                    font-size: 10em;
                    transform: translateX(-2.5em) translateY(-1em);
                }
                
            }

        }

        .chapter__symbol {
    
            @apply flex-center;
    
            div {

                width: 10em;

            }

        }

    }

    .paragraph {

        margin-top: 10vmin;

    }

}

section.chapter#intro {

    @apply overflow-hidden;

    .intro__banner {

        width: 25em;
        margin-left: -1em;

        .layer {

            @apply flex-center;
            width: 100%;
            height: 100%;

            &:nth-child(1) {

                @apply flex-col;

                h1 {
                    font-size: 3em;
                    width: 10em;
                }

            }

            &:nth-child(2) {

                @apply absolute;

                top: 3em;
                right: -5em;

                .intro__background {

                    @apply flex-center relative;

                    width: 100%;
                    height: 100%;
                    
                    [data-svg] {

                        svg {
                            
                            font-size: 1.2em;
                            margin-top: 5.25em;
                            margin-left: -4em;
                            width: 40em;
                            
                            path {
                        
                                filter: drop-shadow(0px 0px 5px #7BFFF7) drop-shadow(0px 0px 10px #7BFFF7) drop-shadow(0px 0px 25px #7BFFF7);
                                
                            }

                        }

                    }
            
                }

            }

        }

    }

}

section.chapter#final {

    .chapter__banner {

        .chapter__thumbnail {
            @apply h-fit;

            margin-right: -14em;

            h1, h2 {
                font-size: 4em;
                transform: translateX(-4.5em) translateY(-3em);
            }

        }

    }

    .paragraph {

        margin-top: 0vmin;

    }

}

#contact {

    @apply relative flex-center;

    & > [data-svg] {
        @apply absolute;
        top: 1em;
        right: 1em;
    }

    .contact__info {

        @apply m-auto;

        border-radius: 15px;
        border: 1.5px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        width: clamp(3em, 90vw, 30em);
        height: 50vh;

        h1 {

            @apply absolute;

            font-size: clamp(1em, 15vw, 4.5em);
            top: -0.75em;
            left: 0.5em;

        }

        & > div {
    
            @apply flex flex-col h-full;
    
            padding: 1em;
            padding-top: 3em;
    
        }
        
    }

    img {

        @apply absolute;

        z-index: -5;
        bottom: 0;

    }

    .contact__card:nth-child(1) {

        font-size: clamp(1em, 4vw, 3.25vh);

        li {

            @apply block;

            margin-bottom: 0.5em;

            span {

                font-weight: bold;

            }

            a {

                display: block;
                font-weight: 100;

            }

        }
        
    }

    .contact__card:nth-child(2) {

        @apply flex flex-row-reverse absolute;
        bottom: 1em;
        left: 1em;

        li:nth-child(1) {

            display: flex;
            align-items: center;

        }

        & > ul {

            @apply flex flex-col;

            direction: ltr;

        }

    }

}