<footer id="contact" class="h-[100vh]">
    <div data-svg="/assets/vectors/Contact Me.svg" class="w-[10em] | lg:hidden"></div>
    <article class="contact__info">
        <h1>كلمني</h1>
        <div>
            <ul class="contact__card | lg:!text-[1.5vw] text-black-65">
                <li>
                    <span>رقم التليفون :</span>
                    <a href="tel:+201000819531" dir="ltr" class="underline">+20 1000 8195 31</a>
                </li>
                <li>
                    <span>الإيميل :</span>
                    <a href="mailto:mostafa.povostudios@gmail.com" class="underline">mostafa.povostudios@gmail.com</a>
                </li>
            </ul>
            <ul class="contact__card">
                <li>
                    <a href="https://facebook.com/mostafa.khedr"><div data-svg="/icons/Facebook.svg">فيسبوك</div></a>
                </li>
                <ul>
                    <li>
                        <a href="https://twitter.com/mostafa.khedr"><div data-svg="/icons/X.svg">إكس</div></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mostafakhedrgram/"><div data-svg="/icons/Instagram.svg">إنستجرام</div></a>
                    </li>
                </ul>
            </ul>
        </div>
    </article>
    <img src="/images/Footer.png" style="display: none;" loading="lazy" class="!block | lg:!hidden" />
</footer>