<nav class="bg-gradient-to-r from-green-5 to-black-40 rounded-full p-0.4 | lg:sticky lg:top-4">

    <div class="bg-black-00 rounded-full p-3 px-5 flex gap-4">

        <h1 class="text-sm">مصطفى خضر</h1>

        <ul class="grow font-thin border-r-2 border-white pr-2">

            <li>

                <a href="/creative-file" class="underline">الملف الإبداعي</a>

            </li>

        </ul>

    </div>

</nav>